<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MercadoLiebre</title>

    <!-- Vinculo el STYLES -->
    <link rel="stylesheet" href="/css/styles.css" />

    <!-- Links Tipografía - ROBOTO -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap"
      rel="stylesheet"
    />

    <!-- Vinculo ICONOS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div>
      <header>
        <section class="logo-bar">
          <!-- Logo -->
          <a href="/" id="logo">
            <img
              src="/images/logo-mercado-liebre.svg"
              alt="MercadoLiebre"
            />
          </a>
          <form id="barra">
            <input type="search" placeholder="Buscar productos, marcas..." />
            <button class="btn"><i class="fas fa-search"></i></button>
          </form>
          <p id="compra">
            <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin
            tarjeta de crédito
          </p>
        </section>
        <section>
          <ul class="no-bullets">
            <section class="lista-izquierda">
              <li class="nav-items">Ofertas</li>
              <li class="nav-items">Tiendas Oficiales</li>
              <li class="nav-items">Vender acá</li>
              <li class="nav-items">Ayuda</li>
            </section>
            <section class="lista-derecha">
              <li class="nav-items">
                <a href="/register">Creá tu cuenta</a
                ><i class="far fa-id-card"></i>
              </li>
              <li class="nav-items">
                <a href="/login">Ingresá</a
                ><i class="fas fa-sign-in-alt"></i>
              </li>
              <li class="nav-items">Mis compras<i class="fas fa-shopping-cart"></i></li>
            </section>
          </ul>
        </section>
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
      </header>
      <section>
        <!-- Banner -->
        <img id="banner" src="/images/img-home-banner.jpg" alt="Banner" />
      </section>
      <main>
        <section>
          <h2 class="titulares">Basado en tu última visita</h2>
          <article class="contenedor-productos">
            <article class="productos">
              <img
                src="/images/img-cafetera-moulinex.jpg"
                alt="Cafetera Moulinex"
              />
              <section class="productos-descripcion">
                <div>
                  <i class="fas fa-truck camion"></i>
                </div>
                <section class="precio-descuentos">
                  <p class="precios">$6.770</p>
                  <p class="descuentos">40% OFF</p>
                </section>
                <h3 class="descripciones">Cafetera Moulinex</h3>
              </section>
            </article>
            <article class="productos">
              <img
                src="/images/img-macbook-pro-2019.jpg"
                alt="Macbook Pro 2019"
              />
              <section class="productos-descripcion">
                <i class="fas fa-truck camion"></i>
                <section class="precio-descuentos">
                  <p class="precios">$230.000</p>
                  <p class="descuentos">20% OFF</p>
                </section>
                <h3 class="descripciones">Macbook Pro 2019</h3>
              </section>
            </article>
            <article class="productos">
              <img src="/images/img-samsung-galaxy-s10.jpg" alt="Galaxy S10" />
              <section class="productos-descripcion">
                <i class="fas fa-truck camion"></i>
                <section class="precio-descuentos">
                  <p class="precios">$70.500</p>
                  <p class="descuentos">10% OFF</p>
                </section>
                <h3 class="descripciones">Samsung Galaxy S10</h3>
              </section>
            </article>
            <article class="productos">
              <img
                src="/images/img-tv-samsung-smart.jpg"
                alt="SmartTV"
                class="foto-productos"
              />
              <section class="productos-descripcion">
                <i class="fas fa-truck camion"></i>
                <section class="precio-descuentos">
                  <p class="precios">$23.200</p>
                  <p class="descuentos">5% OFF</p>
                </section>
                <h3 class="descripciones">Samsung SmartTV 43"</h3>
              </section>
            </article>
          </article>
        </section>

        <section>
          <h2 class="titulares">Ofertas</h2>
          <article class="contenedor-productos">
            <article class="productos">
              <img
                src="/images/img-cafetera-moulinex.jpg"
                alt="Cafetera Moulinex"
              />
              <section class="productos-descripcion">
                <i class="fas fa-truck camion"></i>
                <section class="precio-descuentos">
                  <p class="precios">$6.770</p>
                  <p class="descuentos">40% OFF</p>
                </section>
                <h3 class="descripciones">Cafetera Moulinex</h3>
              </section>
            </article>
            <article class="productos">
              <img
                src="/images/img-macbook-pro-2019.jpg"
                alt="Macbook Pro 2019"
              />
              <section class="productos-descripcion">
                <i class="fas fa-truck camion"></i>
                <section class="precio-descuentos">
                  <p class="precios">$230.000</p>
                  <p class="descuentos">20% OFF</p>
                </section>
                <h3 class="descripciones">Macbook Pro 2019</h3>
              </section>
            </article>
            <article class="productos">
              <img src="/images/img-samsung-galaxy-s10.jpg" alt="Galaxy S10" />
              <section class="productos-descripcion">
                <i class="fas fa-truck camion"></i>
                <section class="precio-descuentos">
                  <p class="precios">$70.500</p>
                  <p class="descuentos">10% OFF</p>
                </section>
                <h3 class="descripciones">Samsung Galaxy S10</h3>
              </section>
            </article>
            <article class="productos">
              <img
                src="/images/img-tv-samsung-smart.jpg"
                alt="SmartTV"
                class="foto-productos"
              />
              <section class="productos-descripcion">
                <i class="fas fa-truck camion"></i>
                <section class="precio-descuentos">
                  <p class="precios">$23.200</p>
                  <p class="descuentos">5% OFF</p>
                </section>
                <h3 class="descripciones">Samsung SmartTV 43"</h3>
              </section>
            </article>
          </article>
        </section>
      </main>

      <footer>
        <div class="footer-padre">
          <section class="footer-sections">
            <i class="fas fa-credit-card"></i>
            <h3 class="footer-title">Pagá con tarjeta o en efectivo</h3>
            <p>
              Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
              efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
          </section>
          <section>
            <i class="fas fa-gift"></i>
            <h3 class="footer-title">Envío gratis desde $ 2.500</h3>
            <p>
              Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
              miles de productos. Es un beneficio de Mercado Puntos.
            </p>
          </section>
          <section>
            <i class="fas fa-user-shield"></i>
            <h3 class="footer-title">Seguridad, de principio a fin</h3>
            <p>
              ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
              puedas hacer, porque estás siempre protegid@.
            </p>
          </section>
        </div>
        <section class="copyright"><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></section>
      </footer>
    </div>
  </body>
</html>
