<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MercadoLiebre</title>

    <!-- Vinculo el STYLES -->
    <link rel="stylesheet" href="/css/styles.css" />

    <!-- Links Tipografía - ROBOTO -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap"
      rel="stylesheet"
    />

    <!-- Vinculo ICONOS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div>
      <header>
        <section class="logo-bar">
          <!-- Logo -->
          <a href="/" id="logo">
            <img
              src="/images/logo-mercado-liebre.svg"
              alt="MercadoLiebre"
            />
          </a>
          <form id="barra">
            <input type="search" placeholder="Buscar productos, marcas..." />
            <button class="btn"><i class="fas fa-search"></i></button>
          </form>
          <p id="compra">
            <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin
            tarjeta de crédito
          </p>
        </section>
        <section>
          <ul class="no-bullets">
            <section class="lista-izquierda">
              <li class="nav-items">Ofertas</li>
              <li class="nav-items">Tiendas Oficiales</li>
              <li class="nav-items">Vender acá</li>
              <li class="nav-items">Ayuda</li>
            </section>
            <section class="lista-derecha">
              <li class="nav-items">
                <a href="/register">Creá tu cuenta</a
                ><i class="far fa-id-card"></i>
              </li>
              <li class="nav-items">
                <a href="/login">Ingresá</a
                ><i class="fas fa-sign-in-alt"></i>
              </li>
              <li class="nav-items">Mis compras<i class="fas fa-shopping-cart"></i></li>
            </section>
          </ul>
        </section>
        <div class="burger-menu">
          <i class="fas fa-bars"></i>
        </div>
      </header>

      <main class="main-login">
        <div class="contenedor-form-login">
          <form action="/login" method="POST" class="formulario-login">
            <p class="inputs-login">
              <input
                type="text"
                name="nombre_usuario"
                id="nombre_usuario"
                placeholder="Nombre de usuario"
                required
              />
            </p>
            <p class="inputs-login">
              <input
                type="password"
                name="password"
                id="password"
                placeholder="Contraseña"
                required
              />
            </p>
            <p class="btn-form-submit">
              <button type="submit">Log In</button>
            </p>
          </form>
        </div>
      </main>

      <footer>
        <div class="footer-padre">
          <section>
            <i class="fas fa-credit-card"></i>
            <h3 class="footer-title">Pagá con tarjeta o en efectivo</h3>
            <p>
              Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
              efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
          </section>
          <section>
            <i class="fas fa-gift"></i>
            <h3 class="footer-title">Envío gratis desde $ 2.500</h3>
            <p>
              Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
              miles de productos. Es un beneficio de Mercado Puntos.
            </p>
          </section>
          <section>
            <i class="fas fa-user-shield"></i>
            <h3 class="footer-title">Seguridad, de principio a fin</h3>
            <p>
              ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
              puedas hacer, porque estás siempre protegid@.
            </p>
          </section>
        </div>
        <section><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></section>
      </footer>
    </div>
  </body>
</html>
